<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/styleregandlog.css">
    <script src="/js/signup.js" defer></script>
    <title>admin Sign Up</title>
</head>
<body>
    <section>
        <form id="signupForm" method="post">
            <h1>Admin Sign Up</h1>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" id="username" required>
                <label> Name</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" id="email" required>
                <label> Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="password" required>
                <label> Password</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="passwordcon" required>
                <label>Confirm Password</label>
            </div>
            <button id="submit" type="submit">Sign Up</button>
            <div class="register">
                <p>Already have an account? <a href="/adminlogin">Log In</a></p>
            </div>
        </form>
    </section>

    <script>
        const form = document.getElementById("signupForm");
        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent default form submission

            const userName = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('passwordcon').value;
            const email = document.getElementById('email').value;

            if (password === confirmPassword) {
                const data = {
                    userName,
                    password,
                    email
                };
                const jsonData = JSON.stringify(data);

                console.log(jsonData);
                
                fetch('/req/adminsignup', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/adminlogin';
                    } else {
                        // Handle errors, show message to user
                        alert("An error occurred. Please try again.");
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            } else {
                alert("Passwords do not match.");
            }
        });
    </script>
</body>
</html>
